body {
  background-color: rgb(10, 5, 5);
}

#inputtext {
  font-size: 16px;
  border-radius: 0.1em;
  white-space: nowrap;
  border-style: groove;
  resize: none;
  height: 1em;
  width: 84em;
  padding: 0.6em 0.8em;
  position: relative;
  margin: 5.5em 1.4em;
  overflow: hidden;
  background-color: aliceblue;
  z-index: 2;
}

#readArea {
  font-size: 25px;
  border-radius: 0.2em;
  resize: none;
  height: 15em;
  width: 52em;
  padding: 0.6em 0.8em;
  margin: 0.1em 1em;
  overflow: hidden;
  border: 2px rgb(76, 61, 174) solid;
  color: whitesmoke;
}

nav {
	background-color:#89b9f7;
}
ul {
	list-style-type:none;
	margin: 0;
  padding: 0;
  overflow: hidden;
  margin-inline-start: 50px;
}
li {
	float: left;
  font-size: large;
}
li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #32afd1;
  color: blue;
  margin-left: 10px;
}

#statsWindow {
  display: none;
  background-color: #e5e9eff9;
  border: 3px solid #4fcde3;
  height: 400px;
  width: 300px;
  position: fixed;
  bottom: 100px;
  left: 550px;
  z-index: 11;
}
#Restart {
font-size: x-large;
height: 40px;
width: 90px;
position: relative;
left: 105px;
top: 360px;
background-color: rgb(12, 240, 164);
color: white;
}
